<h1 class="about-header">About <strong>S</strong>hiny <strong>O</strong>bjects <strong>S</strong>ource</h1>
<h2>Providing shiny objects for those of us who just can't stop wanting them</h2>

<%= image_tag("shinyLights-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive my-image-About", alt: "Shiny bubble lights that shine!") %>
