<h1 class="about-header home-and-about">About <strong>S</strong>hiny <strong>O</strong>bjects <strong>S</strong>ource</h1>
<h2>Providing shiny objects for those of us who just can't stop wanting them</h2>

<%= image_tag("shinyLights-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive my-image-About", alt: "Shiny bubble lights that shine!") %>

<section class="about-paragraph">
  <p>
    We are a company that understands that deep rooted need for "something". Encouraging you to use a small fraction of your hard earned moolah and indulge.
    We think it's ok to prettify your life.
  </p>
  <p>
    After all, you can't take it with you right?
  </p>
</section>
