<div class="container-fluid">
  <div class="jumbotron contact-jumbotron">

    <%= image_tag("shinyLights-banner-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive my-image-contact", alt: "Shiny Bubble Lights") %>

    <h1 class="contact-title">Contact <strong>SOS</strong></h1>
    <h2>Located in the heart of the internet</h2>
    <p class= "contactInfo"><strong>Phone: 1(GET)SUM-SHINY</strong></p>
    <p class= "contactInfo email"><strong>Email: get.shiny@objects.com</strong></p>
  </div>

  <p class="final-words">C'mon, send me words</p>
  <p class="final-words last-final-words">Opinions are welcomed!</p>

</div>
