<h1 class="home-and-about"><strong>S</strong>hiny <strong>O</strong>bjects <strong>S</strong>ource</h1>
<h2>The source for all your Shiny Object needs! </h2>


<%= image_tag("shinyObject1-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive my-image", size: "400x300", alt: "LOTS of bubble lights that shine!") %>

<p class="lure-words">Pretty right?</p>

<%= image_tag("shinyObject1-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive my-image", size: "400x300", alt: "LOTS of bubble lights that shine!") %>

<p class="lure-words">Want it?</p>

<%= image_tag("shinyObject1-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive my-image", size: "400x300", alt: "LOTS of bubble lights that shine!") %>

<p class="lure-words"><i>Neeeed</i> it?</p>

<%= image_tag("shinyObject1-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive my-image last-image", size: "400x300", alt: "LOTS of bubble lights that shine!") %>

<p class="lure-words get-it">Get it!</p>
