<div class="container-fluid">
  <header>
    <h1 class="feature_product_title">Featured Product</h1>
  </header>

  <section class="featured-product-name">
    <h2><%= @featured_product.name %></h2>
  </section>

  <div class="featured-product-image">
    <%= image_tag(@featured_product.image_url, class: "img-responsive feature-image") %>
  </div>
<div>
