<h1 class="feature_product_title">Featured Product</h1>
  <section class="featured-product-name">
    <%= @featured_product.name %>
  </section>
  <div class="featured-product-image">
    <%= @product.image_url %>
  </div>
