<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron shiny-header">
    <h1 class="display-3">Make a <strong>S</strong>hiny <strong>O</strong>bjects <strong>S</strong>election</h1>
    <p class="lead">Life is better with a little shine. Grab some shiny!</p>
  </header>

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <%= image_tag("shiny1-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive img-rounded shiny-product", alt: "One bubble light that shines!") %>
        <div class="card-body">
          <h4 class="card-title">One Shiny O</h4>
          <h5>$8.99</h5>
          <p class="card-text">Have a niggling shiny object need? Squelch it with just one</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary shiny-btn">Pick Me!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <%= image_tag("shiny2-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive img-rounded shiny-product", alt: "Two bubble light that shines!") %>
        <div class="card-body">
          <h4 class="card-title">Two Shiny O's</h4>
          <h5>$12.99</h5>
          <p class="card-text">One just not cutting it? Two is always better than one</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary shiny-btn">Pick Me!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <%= image_tag("shiny3-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive img-rounded shiny-product", alt: "Three bubble light that shines!") %>
        <div class="card-body">
          <h4 class="card-title">Three Shiny O's</h4>
          <h5>$18.99</h5>
          <p class="card-text">Definitely a couple is cute. Yet, a few is the law of good design</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary shiny-btn">Pick Me!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <%= image_tag("shiny4-igor-ovsyannykov-atUnsplash.jpg", class:"img-responsive img-rounded shiny-product", alt: "Four bubble light that shines!") %>
        <div class="card-body">
          <h4 class="card-title">Four Shiny O's</h4>
          <h5>$24.99</h5>
          <p class="card-text">Have a total fixation? No worries, four should most certainly do it!</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary shiny-btn">Pick Me!</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /row -->

</div>
<!-- /container -->
