<div class="panel panel-default">
  <div class="panel-body">
    <h1>Thanks for your message. We got it and will send you a response as soon as we can. Promise!</h1>
  </div><!-- / panel-body -->
</div><!-- / panel -->
