<div class="container text-center">
  <h1>Welcome New User looking for some shine!</h1>

  <%= render 'form', user: @user %>

  <div class="new-user-back">
    <%= link_to 'Back', users_path %>
  </div>
</div>
