<h1>Your Shiny Object Order:</h1>
  <div class="row container-fluid orders">
    <% @orders.each do |order| %>
      <div class="col-sm-12 col-md-6 each-order" id="order-index">
        <h2>
          Order # <%= order.id %>:
        </h2>
        <h3>
          <%= link_to order.product.name, order.product %>
        </h3>
        <p><%= order.product.description %></p>
        <strong>$ <%= order.product.price %></strong>
      </div><!-- /col -->
    <% end %>
  </div>
