
<div class="container payment-page">
  <div class="row">
    <div class="col-xs-12 thankyou">
      <p class="create-thankyou"> Thank you for your purchase of our special Shiny's!</p>
      <p class="create-words"> Be sure to leave us a <%=link_to 'comment', product_path(@product)%>. </p>
      <p class="create-words">  Browse through our other <%= link_to 'Shiny Stuff!', products_path %> </p>
    </div>
  </div>
</div>
