// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products_wrapper {
  max-width: 100%;
}

.sub_header {
  background-image: url("products_banner-igor-ovsyannykov-atUnsplash.jpg");
  background-size: cover;
  max-width: 100%;
  height: auto;
  margin-bottom: 60px;
  padding: 27px 0;
  letter-spacing: 3px;
  color: #fff;
  font-size: 3em;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.product_banner {
  margin-top: 20px;
  margin-bottom: 120px;
  max-width: 100%;
  height: auto;
}

.product-display {
  float: left;
}

.product_images {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}


.product-words-name {
  text-align: center;
  line-height: normal;
  font-size: 3vw;
}

.product-words-description {
  text-align: center;
  line-height: normal;
  font-size: 2vw;
}

.product-words {
  text-align: center;
}

.edit_destroy_links {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 60px;
}

.editing_products_form {
  padding-top: 40px;
}

.show_products_page {
  text-align: center;
  margin-top: 100px;
}

.show-product-name {
  color: #1560BD;
  font-size: 4vw;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
}

.product-description {
  font-weight: 600;
  font-style: italic;
}

.product-price {
  margin-bottom: 60px;
}

.show_back_links {
  text-align: center;
  padding-top: 40px;
}

.edit-back-show-page {
  margin-bottom: 200px;
}

.blurb {
  margin-bottom: 40px;
  color: #1560BD;
}


.update-button {
  margin-bottom: 200px;
}

.image-shaping {
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.back_button {
  text-align: center;
  padding-top: 40px;
}

.featured-product-name {
  margin: 0 auto;
  text-align: center;
}

.featured-product-image {
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  max-width: 300px;
  margin: 0 auto;
}

.feature-image {
  border-radius: 10px;
}

.each-order {
  text-align: center;
  
  margin-bottom: 50px;

}
