// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products_wrapper {
  max-width: 100%;
  display: inline-block;
}

.sub_header {
  background-image: url("products_banner-igor-ovsyannykov-atUnsplash.jpg");
  border-radius: 5px;
  background-size: cover;
  max-width: 100%;
  height: auto;
  margin-bottom: 60px;
  padding: 27px 0;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.product_banner {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 120px;
  max-width: 100%;
  height: auto;
}


.product_images {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}

.product-words-name {
  font-size: 3em;
}

.product-words-pic,
.product-words-name,
.product-words-description,
.product-words-color,
.product-words-price {
  text-align: center;
}


.product-words-name,
.product-words-description {
  line-height: normal;
}


.edit_destroy_links {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 60px;
}

.editing_products_form {
  padding-top: 40px;
}

.show_products_page {
  text-align: center;
  margin-top: 60px;
}

.show-product-name {
  color: #1560BD;
  font-size: 3em;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
}

.product-description {
  font-weight: 400;
  font-style: italic;
}

.product-price {
  margin-bottom: 30px;
}

.show_back_links {
  text-align: center;
  padding-top: 40px;
}

.edit-back-show-page {
  padding-bottom: 35px;
}

.blurb {
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #1560BD;
}

.update-button {
  margin-bottom: 200px;
}

.image-shaping {
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.back_button {
  text-align: center;
  padding-top: 40px;
}

.pagination {
  display: block;
}

.featured-product-name {
  margin: 0 auto;
  text-align: center;
}

.featured-product-image {
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  max-width: 300px;
  margin: 0 auto;
}

.feature-image {
  border-radius: 10px;
}

.each-order {
  text-align: center;
  margin-bottom: 50px;
}

.ratings {
  margin-top: 60px;
}

hr {
  border-top: 2px solid #829FC4;
}

.average-rating-words,
.highest-rating-words {
  color: #1560BD;
}

.average-rating-words,
.highest-rating-words {
  display: inline;
}

.average-rating-number,
.highest-rating-number {
  display: inline-block;
}

.new-comment {
  max-width: 100%;
}

.leave-comment-text {
  padding-top: 80px;
}
