// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    color: #000;
}


.navbar-brand {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 2em;
}


.navbar-default {
  background-color: #829FC4;
  border: none;
}


.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav li a {
  color: #fff;
}


li a:hover {
  background-color: red;
  color: white;
}

.footer-icons a:hover{
  color: #1560BD;
}


h1 {
  font-family: sans-serif;
  font-size: 72px;
  color: #1560BD;
  text-align: center;
  margin-bottom: 10px;
}


h2 {
  color: #829FC4;
  margin-bottom: 20px;
  text-align: center;
}


ul {
  padding-top: 30px;
}


ul.nav.navbar-nav {
  padding-top: 0;
}

.my-image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 75px;
}

.last-image {
  margin-bottom: 100px;
}

.my-image-About {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 120px;
}


.jumbotron {
  background-color: #E6EFFA;
  margin-top: 30px;
}


.jumbotron h1 {
  color: #1560BD;
}


.contactInfo {
  color: #1560BD;
  text-align: center;
}

.row {
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 15px;
}

.card {
  height: 100%;
}

.card-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.shiny-products {
  align: center;
  margin-top: 15px;
}

.shiny-btn {
  margin-bottom: 20px;
}

.lead {
  text-align: center;
}

.sticky-footer {
  background-color: #829FC4;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 40px;
}


.footer-link {
  padding-left:20px;
  padding-right: 20px;
}


.footer-link a{
  color: #fff;
}


.footer-icons a{
  color: #fff;
  padding-left:20px;
  padding-right: 20px;
}
