// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    color: #000;
}


.navbar-brand {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 2em;
}


.navbar-default {
  background-color: #829FC4;
  border: none;
}


.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav li a {
  color: #fff;
}


li a:hover {
  background-color: red;
  color: white;
}

.footer-icons a:hover{
  color: #1560BD;
}


h1 {
  font-family: sans-serif;
  font-size: 4vw;
  color: #1560BD;
  text-align: center;
  margin-bottom: 10px;
}


h2 {
  color: #829FC4;
  font-size: 2vw;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}


ul {
  padding-top: 30px;
}


ul.nav.navbar-nav {
  padding-top: 0;
}

.my-image {
  border-radius: 10px 10px 10px 10px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.lure-words {
  font-family: sans-serif;
  font-size: 30px;
  color: #1560BD;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.get-it {
  margin-bottom: 220px;
  text-transform: uppercase;
}

.about-header {
  font-size: 4vw;
}

.my-image-About {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 220px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}


.jumbotron {
  margin:0 auto;
  max-width: 80%;
  background-color: #E6EFFA;
  margin-top: 30px;
  margin-bottom: 100px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}


.jumbotron h1 {
  color: #1560BD;
}

.my-image-contact {
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.contactInfo {
  color: #1560BD;
  text-align: center;
}

.final-words {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: #1560BD;
  margin-top: 15px;
  padding-bottom: 10px;
}

.last-final-words {
  margin-bottom: 250px;
}

.row {
  padding-bottom: 20px;
  margin: 20px;
}

.card {
  height: 100%;
}

.card-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-display {
  display: block;
}

.shiny-products {
  align: center;
  margin-top: 15px;
}

.shiny-btn {
  margin-bottom: 20px;
}

.lead {
  text-align: center;
}

.sticky-footer {
  background-color: #829FC4;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 40px;
}

.footer-link {
  padding-left:20px;
  padding-right: 20px;
}


.footer-link a{
  color: #fff;
}

.footer-icons a{
  color: #fff;
  padding-left:20px;
  padding-right: 20px;
}

.feature_product_title {
  letter-spacing: 3px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-decoration: underline;
}

.featured_product {
  text-align: center;
  font-size: 3em;
  font-style: italic;
}

//Carousel for Landing Page

.carousel-inner {
  margin: 0 auto;
	background-color: #E6EFFA;
}

.carousel-caption {
  top: 70%;
	font-size: 30px;
	line-height: 60px;
	letter-spacing: 2px;
	text-shadow: 2px 2px 6px rgba(1,3,1,3);
  display: inline-block;
}

.carousel-control {
	background-image: none !important;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	color: #fff !important;
	opacity: 100;
	width: 7%;
}

.carousel-control:hover, .carousel-control:focus {
	background-color: rgba(0,0,0,0);
	color: #fff;
	opacity: 100;
}

.carousel-inner > .item > img {
	margin: 0 auto;
  width: 30%;
}

.carousel-indicators {
	bottom: -60px;
}

.carousel-indicators > li {
	border: 0;
	border-radius: 0;
	background-color: #999;
	width: 12px;
	height: 12px;
	margin: 0;
}

.carousel-indicators > .active {
	background-color: #000;
}
