// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Index Page
.shiny-new-user-header {
  margin-bottom: 30px;
}

.user-index-content {
  max-width: 50%;
}

.users-info {
  text-align: center;
  list-style: none;
  color: black;
  margin-bottom: 30px;
}

.first-last-name {
  line-height: 30px;
}

.users-show-edit-back {
  margin-top: 40px;
}

.new-user-q-btn {
  text-align: center;
  font-size: 2.5vw;
  margin-bottom: 30px;
}

.new-user-q-btn a {
  text-decoration: none;
}

.user-index-back {
  text-align: center;
}

//Show Page
.show-links {
  text-align: center;
}

.current-user-header {
  margin-top: 80px;
  margin-bottom: 80px;
}

.user-fn,
.user-ln {
  background-color: #E6EFFA;
}

//Form Page
.update-user {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.user-fn,
.user-ln {
  max-width: 75%;
  margin: 0 auto;
}

//Edit Page
.edit-links {
  text-align: center;
}

.edit-user-header {
  margin-top: 80px;
  margin-bottom: 80px;
}

//Devise Pages
  //Shared - Links Page
  .shared-links {
    text-align: center;
  }

  //Registrations - New Page

  //Sessions - New Page
  .sessions-field-label {
    padding-top: 20px;
  }

  .sessions-remember-me {
    padding-bottom: 20px;
  }

  .sessions-new-login {
    text-align: center;
  }

  .sessions-new-shared-links {
    text-align: center;
    margin-top: 20px;
  }
