<div class="container text-center">
  <p>Hello there <%= @email %>!</p>

  <% if @resource.try(:unconfirmed_email?) %>
    <p>We thought you might like to know that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
  <% else %>
    <p>We thought you might like to know that your email has been changed to <%= @resource.email %>.</p>
  <% end %>
</div>
