<div class="container text-center">
  <p>Hello here Shiny Member!</p>
  <p><%= @resource.email %>,</p>
  <p>We're contacting you to notify you that your password has been changed.We though you'd like to be in the know.</p>
</div>
