<hr>
<div class="product-comment">

<% if signed_in? %>
  <h2 id="review-header" class="leave-comment-text">Have something you want to say?</h2><br>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p class="comment-here-field">
      <%= f.text_area :body, placeholder: "Comment here", class: "text-center comment-here" %>
    </p>
    <p>
      <div class="rating"></div>
    </p>
    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
<% end %>

</div>
<hr>
