<header class="page-header">
  <h1>S.O.S.</h1>
  <small>Product Info</small>
</header>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
