<h1>Editing Product Page</h1>

<div class="editing_products_form">
  <%= render 'form', product: @product %>

  <div class="show_back_links">
    <%= link_to 'Show', @product %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>
