<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shiny Objects App</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default" id="nav-start">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tab Codes</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-list" id="navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/simple_pages/index" class="nav-links active">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="/simple_pages/about" class="nav-links">About</a></li>
            <li><a href="/simple_pages/contact" class="nav-links">Contact</a></li>
            <li><a href="/products" class="nav-links">Products</a></li>
          </ul>

        </div><!-- end navbar-collapse -->
      </div><!-- end container-fluid -->
    </nav><!-- end navbar -->

    <%= yield %>

    <footer class="sticky-footer" id="sticky-footer">
      <div class="container-fluid footerContent">
        <div class="footer-links-container">
          <span class="footer-link"><a href="/simple_pages/index">Home</a></span>
          <span class="footer-link"><a href="/simple_pages/about">About</a></span>
          <span class="footer-link"><a href="/simple_pages/contact">Contact</a></span>
          <span class="footer-link"><a href="/products">Products</a></span>
        </div>
        <div class="footer-icons">
          <span><a href="https://twitter.com/4Tabby4"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></span>
          <span><a href="https://www.facebook.com/44tabitha.levine"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></span>
          <span><a href="https://www.instagram.com/44tabby44/?hl=en"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></span>
        </div>
        <span class="text-muted copyright">&copy; 2017 Tab Codes</span>
      </div><!-- end footer icons -->
    </footer><!-- sticky end footer -->
  </body><!-- end of footer -->
</html><!-- end html -->
